#classifier table tr:last-child th, #classifier table tr:last-child td {
    border-bottom: none;
}
body {
    background-color: #f3f3f2;
}
#wrapper {
    max-width: 650px;
}
.add-forms {
    min-height:120px;
}
.add-forms label {
    min-height: 50px;
}
#conclusion {
    border-color: var(--bs-success);
}
#line svg {
    width: 2rem;
    float: right;
}
}
#line svg:hover {
    fill: var(--bs-primary);
}
input[type=checkbox]
{
    padding: 10px;
}
.input-group-text {
    text-align: start;
    white-space: break-spaces;
    min-width: 50px;
}      